main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    color: black;
    width: 100vw;
    height: 80vh;
}

#textbox, #imgbox {
    width: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#textbox {
    align-items: start;
    flex-direction: column;
}

#textbox h1 {
     margin-bottom: 3rem;
}

#role {
    background: var(--gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#textbox #about {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}